extends ../layout

block content
  .wrapper
    .landing-header.section-nude
      .container
        .motto.col-sm-6
          h2.title-uppercase 重設密碼
          br
          br
        .col-sm-8.col-sm-offset-2
          form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(for='password') 新密碼 (New Password)
              input.form-control(type='password', name='password', value='', placeholder='請輸入', autofocus=true)
            .form-group
              label(for='confirm') 確認密碼 (Confirm Password)
              input.form-control(type='password', name='confirm', value='', placeholder='請再次輸入')
            .form-group
              button.btn.btn-primary.btn-reset(type='submit')
                i.fa.fa-keyboard-o
                | 送出
