footer.footer-demo.section-dark
  .container
    nav.pull-left
      ul
        li(style='text-align:left; color:#a1a1a1;')
          | 地址:
          a(href='https://goo.gl/maps/tLEiW2k5FFN2', target='_blank')
            | 11494 台北市內湖區民善街129號6樓
        li(style='text-align:left; color:#a1a1a1;')
          | 專線:
          a(href='tel:02-27951513')
            | (+886)02-27951513
        li(style='text-align:left; color:#a1a1a1;')
          | E-mail:
          a(href='mailto:tkkyvc@gmail.com')
            | tkkyvc@gmail.com
        //- li
        //-   a(href='http://www.creative-tim.com/product/rubik')
        //-     | Licenses
    .copyright.pull-right 
      | All content copyright 十大傑出青年基金會 &copy; 2016 &bull; All rights reserved.
      a(href='/admin_login')
        |  管理員
