footer.footer-demo.section-dark
  .container
    nav.pull-left
      ul
        li
          a(href='http://www.persons.org.tw', target='_blank')
            | 財團法人十大傑出青年基金會
        li
          a(href='https://www.facebook.com/TOYPF', target='_blank')
            | FB粉絲專頁
        //- li
        //-   a(href='http://www.creative-tim.com/product/rubik')
        //-     | Licenses
    .copyright.pull-right All content copyright 十大傑出青年基金會 &copy; 2016 &bull; All rights reserved.
