nav#demo-navbar.navbar.navbar-ct-warning(role='navigation-demo')
  .container
    //- Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-example-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/')
        .logo-container
          .logo
            img(src='/img/yvLogo.jpg', alt='北基金青年志工中心 Logo')
          .brand
            .b_small 教育部青年發展署  
            | 北基金青年志工中心
    //- Collect the nav links, forms, and other content for toggling
    #navigation-example-2.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle.btn.btn-default.btn-simple(href='/about/center', data-toggle='dropdown')
            | 認識我們 
            b.caret
          //- You can add classes for different colours on the next element
          ul.dropdown-menu.dropdown-warning.dropdown-menu-right
            li.dropdown-header About us
            li
              a(href='/about/center') 認識本中心
            li
              a(href='/about/toypf') 十傑基金會
            li
              a(href='/about/volunteam') 十傑志工隊
            li.divider
            li
              a(href='/about/map') 我們在這裡
            li
              a(href='/about/rent') 租用資訊
        li.dropdown
          a.dropdown-toggle.btn.btn-default.btn-simple(href='/news', data-toggle='dropdown')
            | 訊息快報 
            b.caret
          //- You can add classes for different colours on the next element
          ul.dropdown-menu.dropdown-warning.dropdown-menu-right
            li.dropdown-header News
            li
              a(href='/news/tag/new-info') 最新訊息
            li
              a(href='/news/tag/info-deliver') 活動轉知
            li
              a(href='/news/tag/news-report') 新聞報導
            li
              a(href='/news/tag/center-activities') 中心活動
        li.dropdown
          a.dropdown-toggle.btn.btn-default.btn-simple(href='/youth/local', data-toggle='dropdown')
            | 青年服務 
            b.caret
          //- You can add classes for different colours on the next element
          ul.dropdown-menu.dropdown-warning.dropdown-menu-right
            li.dropdown-header Youth Service
            li
              a(href='/youth/local') 在地好青年
            li.divider
            li
              a(href='/youth/bevo') 青年當志工
            li
              a(href='/youth/findvo') 機構找志工
            li.divider
            li
              a(href='/youth/launchteam') 揪團去服務
        li.dropdown
          a.dropdown-toggle.btn.btn-default.btn-simple(href='/youth/empower', data-toggle='dropdown') 
            | 青年培力
            b.caret
          ul.dropdown-menu.dropdown-warning.dropdown-menu-right
            li.dropdown-header Youth Empower
            li
              a(href='/youth/empower#MentorTag') 諮詢業師
            
            li
              a(href='/youth/empower#VolunTrainTag') 志工訓練
            
            li
              a(href='/youth/empower#TalentTrainTag') 專長訓練
            
            li
              a(href='/youth/empower#SpeechTag') 研習講座
        li.dropdown
          a.dropdown-toggle.btn.btn-default.btn-simple(href='/novelty', data-toggle='dropdown')
            | 公益新鮮事
            b.caret
          ul.dropdown-menu.dropdown-warning.dropdown-menu-right
            li.dropdown-header Public Interest
            li
              a(href='/novelty#IdeaTag') 公益好思維
           
            li
              a(href='/novelty#StoryTag') 公益小故事
            
            li
              a(href='/novelty#ShareTag') 公益分享會
            
            li
              a(href='/novelty#TalkTag') 公益來開講
        li
          a.btn.btn-default.btn-simple(href='/links') 
            | 友好連結
        li.dropdown
          a.dropdown-toggle.btn.btn-default.btn-simple(href='/news/tag/review', data-toggle='dropdown')
            | 成果紀錄
            b.caret
          ul.dropdown-menu.dropdown-warning.dropdown-menu-right
            li.dropdown-header Hibition
            li
              a(href='/news/tag/review') 服務反思
            li.divider
            li
              a(href='/news/tag/album') 照片集錦
            li
              a(href='/news/tag/video') 影音紀錄
            li.divider
            li
              a(href='/news/tag/performance') 服務績效


