#homeCoverModel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='homeCoverLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#homeCoverLabel.modal-title
      .modal-body.paragrahIndent(style='white-space:pre-line;')
        
      .modal-footer
        .left-side
          a.btn.btn-success.btn-simple(href='#', target='_blank')
            | 前往連結
        .divider
        .right-side
          button.btn.btn-danger.btn-simple(type='button', data-dismiss='modal') 關閉
          