extends layout

block content
  .wrapper
    .landing-header.section-nude
      .container
        .motto.col-sm-6
          h2.title-uppercase 青年當志工
          br
          h5 Yo！全台的青年伙伴照過來~
          h5 您是否曾在「看見台灣」的影片中，也隱約看到自己內心關懷台灣這片土地的悸動... 您是否也曾在「十二夜」的影片中，為弱勢生命的吶喊而眼眶泛淚...
          h5 想成為守護台灣的「服務青」嗎？
          h5 不要再猶豫了，台灣的未來將因為您的行動而改變！快過來報名吧！
          br
          a.btn.btn-warning.btn-fill(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ')
            i.fa.fa-pencil
            | 填寫服務青申請表
          br
          h5
        .col-sm-6
      .main
   .section.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 北基金青年志工中心
          br
          h5
           