extends layout

block content
  .wrapper
    .landing-header.bg(style="background-image: url('/img/center_kite.jpg');background-attachment: fixed;background-position: center 0;bottom: 0;")
      .container
        .motto
          h2.title-uppercase 青年的力量就是台灣的希望
          h4 教育部青年發展署 北基金青年志工中心
          br
          //- a.btn
          //-   i.fa.fa-play
          //-   | Watch video
          //- a.btn Download
    .main
  .section.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 北基金青年志工中心
          br
          h5
            | 本中心是一個專責青年志願服務資源整合的單位，由教育部青年發展署指導，自2016年起由財團法人十大傑出青年基金會承接。 本中心扮演青年志工、各級學校、民間機構、社區及政府部門間的橋樑，整合民間力量與社會資源，藉由倡導與擴大青年志願服務，帶動青年參與社會關懷的志願服務行列，為青年志願服務業務進行全方位之規劃，藉由青年力量打造台灣成為一個溫馨、安全、公平、互助、尊嚴且優質的社會。
          br
          h5
            | 本中心經營理念在為台灣培育青年志工(服務青)，每個「服務青」都是一盞小小的燭光，透過無數青年服務的實踐來點亮台灣未來的希望。在本中心規劃的各項服務中，期能鼓勵青年走出來服務，支持青年做志工，為青年創造一個可以相互share志願服務的平台，吸引青年前來相互交流學習，一起做志工，發輝社會正面的能量，一起圓一個希望夢想。青年敢夢、逐夢的活力、熱情、理想與創造，就是社會改變的原動力，而這股力量正真實地在台灣萌芽。
          br
          a.btn.btn-danger.btn-fill(href='#') See Details
  .section.section-dark-blue.text-center.landing-section
    .container
      h2 核心價值
      br
      br
      .col-sm-3.col-xs-6
        .largeIcon
          i.fa.fa-gavel
          //- img.img-circle.img-responsive(src='../assets/paper_img/chet_faker_2.jpg', alt='Thumbnail Image')
          h5
            | 倡導 
            br
            small.text-muted Promotion
      .col-sm-3.col-xs-6
        .largeIcon
          i.fa.fa-paint-brush
          h5
            | 創新 
            br
            small.text-muted Innovation
          
      .col-sm-3.col-xs-6
        .largeIcon
          i.fa.fa-cogs
          h5
            | 培力
            br
            small.text-muted Empowerment
          
      .col-sm-3.col-xs-6
        .largeIcon
          i.fa.fa-puzzle-piece
          h5
            | 共享
            br
            small.text-muted Sharing
  #carousel
    #carousel-example-generic.carousel.slide(data-ride='carousel')
      .carousel.slide(data-ride='carousel')
        //- Indicators
        .carousel-head.text-center 成立目標
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
          li(data-target='#carousel-example-generic', data-slide-to='3')
        //- Wrapper for slides
        .carousel-inner    
          
          .item.active
            
            img(src='/assets/paper_img/types.jpg', alt='Awesome Image')   
            h5.text-center
              | 1.倡議青年志願服務理念，開展青年志工視野
          .item
            
            img(src='/assets/paper_img/types.jpg', alt='Awesome Image')     
            h5.text-center
              | 2.激發青年參與服務動力，捲動青年志工服務
          .item
            
            img(src='/assets/paper_img/types.jpg', alt='Awesome Image')           
            h5.text-center
              | 3.辦理青年志工相關培力，促進青年志工媒合
          .item
            
            img(src='/assets/paper_img/types.jpg', alt='Awesome Image')
            h5.text-center
              | 4.經營策略聯盟資源網絡，彙整青年志工資訊
          //- .item
          //-   img(src='/assets/paper_img/types.jpg', alt='Awesome Image')
        //- Controls
        a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
          span.fa.fa-angle-left
        a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
          span.fa.fa-angle-right       
  .section.section-nude.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          h2 服務項目
        .col-md-4.column
          h4 諮詢服務
          p
            | 提供青年朋友以電話、網路、現場等管道進行志工相關諮詢服務
          a.btn.btn-danger.btn-simple(href='#')
            | See more 
            i.fa.fa-chevron-right
        .col-md-4.column
          h4 供需媒合
          p
            | 提供志工媒合服務平台，進行青年志工人力招募與媒合
          a.btn.btn-danger.btn-simple(href='#')
            | See more 
            i.fa.fa-chevron-right
        .col-md-4.column
          h4 資源整合
          p
            | 建置北基金轄區資源地圖，整合學校、政府部門、非營利組織資源，以達共享綜效
          a.btn.btn-danger.btn-simple(href='#')
            | See more 
            i.fa.fa-chevron-right
        .col-md-4.column
          h4 資訊交流
          p
            | 與全國各地青年志工中心策略合作，共同實踐青年服務
          a.btn.btn-danger.btn-simple(href='#')
            | See more 
            i.fa.fa-chevron-right
        .col-md-4.column
          h4 服務分享
          p
            | 辦理青年志工跨域、跨國志願服務分享交流或聯誼活動
          a.btn.btn-danger.btn-simple(href='#')
            | See more 
            i.fa.fa-chevron-right
        .col-md-4.column
          h4 倡議宣導
          p
            | 辦理青年志工服務專案，倡議青年志願服務理念與落實
          a.btn.btn-danger.btn-simple(href='#')
            | See more 
            i.fa.fa-chevron-right
        .col-md-4.column
          h4 培力訓練
          p
            | 辦理志工基礎、特殊訓練，協助青年取得志願服務紀錄冊
          a.btn.btn-danger.btn-simple(href='#')
            | See more 
            i.fa.fa-chevron-right
