extends layout

block content
  .section.section-nude.text-center.landing-section.bg(style="background-image: url('/img/18018945761_707e5b412d_h.jpg');background-position: center 0;background-attachment: fixed;bottom: 0;z-index: -1;background-repeat: no-repeat;")
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent(style='color:#555')
          h2 青年培力
          br
          h5
            | 本會每年協助十大傑出青年選拔，為台灣豎立各領域的傑出青年標竿，在他們身上除了能感受到其對於社會的影響力，也看見他們帶領社會向前邁進的實踐力。
  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 諮詢業師
          br
          h5
            | 為鼓勵青年參與志願服務，發揮成己達人的精神，我們特邀請具輔導青年志工服務相關專長之諮詢業師，以其專長及經驗，協助輔導青年參與服務，解決推動青年志工業務相關問題，增進青年志工及社區志工組織之服務知能。
          br
          br
  .section.section-dark.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 志工訓練
          br
          h5
            
          br
  .section.section-brown.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1.paragrahIndent
          h2 專長訓練
          br
          .col-md-10.col-md-offset-1
            h5
              
            br
            br
            br
          
  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1.paragrahIndent
          h2 研習講座
          br
          br
          
