extends layout

block content
  .wrapper
    .landing-header.section-nude
      .container
        .motto.col-sm-offset-1.col-sm-10
          h3.title-uppercase.text-center 青年自組團隊計畫說明
          br
          h4 一、計畫目的：
          br
          h5 為鼓勵青年積極參與志願服務，自發性組成團隊以實際行動關懷本土發展，教育部青年發展署特提供經費予青年志工團隊申請補助。
          br
          h4 二、補助對象：
          br
          h5 12~30歲之青年及青少年自組團隊，每隊人數為6-30人。
          br
          h4 三、補助範圍：
          br
          h5 凡能運用或媒合青年志工人力資源，辦理下列青年志工服務行動方案者，均得依規定申請補助。
          br
          h5 1.社區服務面向：協助社區營造、弱勢關懷、社區輔導等相關青年志工服務。
          h5 2.環境服務面向：協助環境人文、生態保育、節能減碳等相關青年志工服務。
          h5 3.文化服務面向：協助文史調查、古蹟保存、導覽解說等相關青年志工服務。
          h5 4.科技服務面向：協助資訊輔導、數位科技、科技能力等相關青年志工服務。
          h5 5.健康服務面向：協助健康促進、衛生醫療、休閒旅遊等相關青年志工服務。
          h5 6.教育服務面向：協助教育輔導、語言教學、閱讀推廣等相關青年志工服務。
          h5 7.其他服務面向：協助跨上述二個以上服務面向或其他符合規定之相關青年志工服務。
          br
          h4 四、申請時間：
          br
          h5 105年03/01~04/15
          br
          h4 五、申請程序：
          br
          h5 1.採線上申請，申請補助團隊先至「區域和平志工團」網站(網址： http://gysd.yda.gov.tw)提出「服務行動構想」。
          h5 2.申請補助團隊並應派一至二名代表參加北基金青年志工中心辦理之培力輔導課程。
          h5 3.於培力輔導課程結束後七日內上網提出「服務行動方案計畫書」。
          br
          h4 六、相關辦法與申請表單下載：
          br
          h5 1.加強青年志工服務補助作業要點
          h5 2.加強青年志工服務補助作業要點相關附件
          br
          
          br
          h5
      .main
   .section.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h5 若您有任何問題，歡迎與北基金青年志工中心聯絡，讓我們有機會為您服務！
          br
          h5
           