extends layout

block content
  script(src='/js/lib/d3.min.js')
  .wrapper
    .landing-header.section-nude
      .container
        .motto.col-sm-6
          h2.title-uppercase 在地好資源
          h5 點擊右方行政區以查閱
          br
        .col-sm-6
          img(src="/img/taipei-01.svg", height="550")
    .main
  //- script.
  //-   var taipeiSVG = d3.select("#taipeiSVG").attr("fill", "#000");
    //- console.log(taipeiSVG);

