extends layout

block content
  .wrapper
    .toypf-background
      .filter-black
    .profile-content.section-nude
      .container
        .row.owner
          .col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.text-center
            .avatar
              img.img-circle.img-no-padding.img-responsive(src='/img/yvLogo.jpg', alt='')
          .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4.text-center
            .name
              h4
                | 租用資訊
              h5
                | 北基金青年志工中心
      .container.tim-container.text-center
        .row
          .col-md-8.col-md-offset-2.text-center
            //- h2 Completed with examples
            h5.text-justify
              | 位在台北市內湖區創富企業總部大樓6樓的北基金青年志工中心，擁有100坪的獨立空間，不論是辦理教育訓練、研習課程、講座或論壇，均有合適的空間提供使用
            br
            a(href='https://drive.google.com/folderview?id=0B4AhD7-VeiLHcXdrU0QtNUo0TUk&usp=sharing', target='_blank')
              h6 請參閱場地使用辦法及場地申請表 
                img(src='/img/Google-Drive-icon.png', alt='場地使用辦法及場地申請表', height='20')
            br
            h4 類型多樣化的場地空間
            br
            h5.text-justify 開放申請使用空間包括2間研習教室(可打通使用)、視聽室、多功能交流區，可依活動類型調整場地形式。
            br
            h4 完善的器材設備
            br
            h5.text-justify
              | 投影機、移動及固定式投影布幕、無線麥克風、音響設備、白板、海報立架。
            br
        .row.example-pages
          .col-md-4
            img.img-rounded.img-responsive(src='/img/room/20160107_153409.JPG', alt='研習教室A')
            h5 研習教室A
              br
              small 可做訓練及各項研習課程使用，約10坪空間，容納20~25人(長桌+靠背椅)
          .col-md-4
            img.img-rounded.img-responsive(src='/img/room/20160107_153426.JPG', alt='研習教室B')
            h5 研習教室B
              br
              small 可做訓練及各項研習課程使用，約10坪空間，容納20~25人(長桌+靠背椅)
          .col-md-4
            img.img-rounded.img-responsive(src='/img/room/IMG_4298.JPG', alt='研習教室A+B')
            h5 研習教室A+B
              br
              small 可做訓練及各項研習課程使用，約20坪空間，容納40~50人(長桌+靠背椅)
          .col-md-4
            img.img-rounded.img-responsive(src='/img/room/20151222_115815.jpg', alt='視聽室')
            h5 視聽室
              br
              small
                | 可做訓練、研習、小團體、視聽教學使用，約6坪空間，可容納約25人(劇院型，不放長桌)
          .col-md-4
            img.img-rounded.img-responsive(src='/img/room/20160105_143836.jpg', alt='多功能交流區')
            h5 多功能交流區
              br
              small 
                | 開放式交流空間，可辦理論壇，分享會及各類團康活動，可容納約30人(椅子與牙凳可視分組情況自由組合)
        br
        br
        h5
          | 歡迎機構團體預約申請，合作提案，與我們共享使用。
        br
        br
        br

  //- #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  //-   .modal-dialog
  //-     .modal-content
  //-       .modal-header
  //-         button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  //-         h4#myModalLabel.modal-title 研習教室A
  //-       .modal-body

  //-         p
  //-           | 可做訓練及各項研習課程使用，約10坪空間，容納20~25人(長桌+靠背椅)。
  //-         img.img-rounded.img-responsive(src='/img/room/room1.png', alt='研習教室A')
  //-       .modal-footer
  //-         .left-side
  //-           button.btn.btn-default.btn-simple(type='button', data-dismiss='modal') 關閉
  //-         .divider
  //-         .right-side
  //-           button.btn.btn-info.btn-simple(type='button', data-target='#myModal2') 繼續



