extends layout

block content
  .wrapper
    .toypf-background
      .filter-black
    .profile-content.section-nude
      .container
        .row.owner
          .col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.text-center
            .avatar
              img.img-circle.img-no-padding.img-responsive(src='/img/toypf_logo.jpg', alt='')
            .name
              h4
                | 財團法人
                br
                | 十大傑出青年基金會
                br
                small Ten Outstanding Young Person's Foundation
    .section.landing-section
      .container
        h2.text-center 本會源起
        ul.timeline
          li
            .timeline-badge.warning
              i.fa.fa-university
            .timeline-panel
              .timeline-heading
                h4.timeline-title 創立
              .timeline-body
                p
                  | 1993年由十傑選拔創辦人程志新先生首倡創立
          li.timeline-inverted
            .timeline-badge.info
              i.fa.fa-cubes
            .timeline-panel
              .timeline-heading
                h4.timeline-title 奠礎
              .timeline-body
                p
                  | 1996年6月，由第二屆十傑當選人王甲乙先生膺任董事長，其用心擘畫為本會奠下良好基礎
          li
            .timeline-badge.success
              i.fa.fa-leaf
            .timeline-panel
              .timeline-heading
                h4.timeline-title 新局
              .timeline-body
                p
                  | 2012年1月，王金平先生續任本會第六屆董事長，敦聘賴國洲教授擔任本會執行長，持續在各項活動中推動本會「青年雙手、人類希望」之宗旨，開創新局
    .section.section-dark-blue.text-center.landing-section
      .container.paragrahIndent
        h2 發展任務
          br
          br
        h5
          | 本會多年來協助『十大傑出青年甄選與選拔』、持續推展『青年組織培訓』與『兩岸公益文化交流』工作，進而藉由『關懷在地社會議題』，透過本會資源網絡連結與行動參與，使教育、科技、文化、經濟及社會緊密結合，創造出更多正面的社會影響力。
        h5
          | 在歷年的經營發展下，秉持【青年雙手 人類希望】的核心價值，落實【十傑精神】，使成為社會成長和建立公民社會的力量與實踐目標而努力
        br
        h4
          | 本會提倡四大目標:
        br
        br
        .col-sm-3.col-xs-6
          .largeIcon
            i.fa.fa-sitemap
            //- img.img-circle.img-responsive(src='../assets/paper_img/chet_faker_2.jpg', alt='Thumbnail Image')
            h4
              | 十傑整合
              br
              small.text-muted 整合十傑資源延伸社會影響力
        .col-sm-3.col-xs-6
          .largeIcon
            i.fa.fa-graduation-cap
            h4
              | 青年培育 
              br
              small.text-muted 強化學生組織文化與人才培育
            
        .col-sm-3.col-xs-6
          .largeIcon
            i.fa.fa-heartbeat
            h4
              | 在地關懷
              br
              small.text-muted 引領青年關懷社會與行動實踐
            
        .col-sm-3.col-xs-6
          .largeIcon
            i.fa.fa-globe
            h4
              | 國際交流
              br
              small.text-muted 拓展國際交流視野與世界接軌
            