extends layout

block content
  .section.section-nude.text-center.landing-section.bg(style="background-image: url('/img/18018945761_707e5b412d_h.jpg');background-position: center 0;background-attachment: fixed;bottom: 0;z-index: -1;background-repeat: no-repeat;")
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent(style='color:#555')
          h2 十傑青年志工隊
          br
          h5
            | 本會每年協助十大傑出青年選拔，為台灣豎立各領域的傑出青年標竿，在他們身上除了能感受到其對於社會的影響力，也看見他們帶領社會向前邁進的實踐力。
  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 成立緣起
          br
          h5
            | 基於本會長期對青年的觀察，我們對青年抱有相當的期待和想像，我們堅信青年是社會中最富理想、創造與熱忱的世代，因為無數青年在社會與生活的不同層面中積極地行動，彼此相互連結，共綻光彩，台灣的未來才會充滿力量與希望。
          br
          h5
            | 延續上面的發現，本會特成立十傑青年志工隊(十傑服務青)，希望透過青年志工隊的成立，為台灣青年的公民養成教育盡一份心力，藉由倡導與擴大青年志願服務，帶動青年參與社會關懷的志願服務行列，讓台灣少些疏離與冷漠，增添溫暖與扶持，讓志願服務融入青年的生活，共創一個祥和安居、快樂飛揚的國度。多年來，這股力量正真實地在台灣萌芽。
          br
          br
  .section.section-dark.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 團隊使命
            br
            small(style='color: #ccc;') 青年雙手，人類希望
          br
          h5
            | 青年是社會、國家的基石。青年的夢想影響國家的走向、青年的活力支撐挑戰的動力、青年的熱情創造社會的風貌，青年的理想鼓勵突破的勇氣，青年敏銳感性的情懷是社會最珍貴的資產，也是社會最具改變創造的原動力，青年的夢想就是台灣未來的希望種子。
          br
          h5
            | 十傑青年志工隊的使命是號召台灣青年成為有意識的公民實踐者，憑藉青年敢夢逐夢的活力、熱情、理想與創造，在國際化與在地化的雙重視野下，追求實現自我生命的意義與價值，進而觸發國家社會的改變動能。
          br
  .section.section-dark.text-center.landing-section.bg(style="background-image: url('/img/16669738204_dfe6378156_k.jpg');background-attachment: fixed;bottom: 0;z-index: -1;background-position: center;")
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 未來願景
          br
          h5
            | 為青年創造一個可以相互share志願服務的平台。
          h5
            | 鼓勵青年走出來服務，支持青年做志工，吸引青年前來相互交流學習，一起做志工，發揮社會正面的能量，一起圓一個希望夢想。
          br    
  .section.section-brown.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1.paragrahIndent
          h2 發展主軸
          br
          .col-md-10.col-md-offset-1
            h5
              | 本會在紮根青年志工上，以下列四大面向為發展主軸，持續培育並引領青年成為具有在地關懷精神的公民，為社會國家貢獻青年之力量。
            br
            br
            br
          .col-sm-3.col-xs-6
            .largeIcon
              i.fa.fa-heart
              //- img.img-circle.img-responsive(src='../assets/paper_img/chet_faker_2.jpg', alt='Thumbnail Image')
              h5
                | 公益關懷 
                br
                small.text-muted Community Service
          .col-sm-3.col-xs-6
            .largeIcon
              i.fa.fa-users
              h5
                | 公民參與 
                br
                small.text-muted Citizen Participation
              
          .col-sm-3.col-xs-6
            .largeIcon
              i.fa.fa-lightbulb-o
              h5
                | 社會創新
                br
                small.text-muted Social Innovation
              
          .col-sm-3.col-xs-6
            .largeIcon
              i.fa.fa-street-view
              h5
                | 在地實踐
                br
                small.text-muted Local Practice
  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1.paragrahIndent
          h2 志工服務組別
          br
          br
          .col-sm-4.col-xs-6
            .largeIcon
              i.fa.fa-sun-o
              //- img.img-circle.img-responsive(src='../assets/paper_img/chet_faker_2.jpg', alt='Thumbnail Image')
              h5
                | 代間服務組
                br
                small 銀髮關懷服務
          .col-sm-4.col-xs-6
            .largeIcon
              i.fa.fa-picture-o
              h5
                | 藝文推廣組
                br
                small 校園藝術文化教育推廣
              
          .col-sm-4.col-xs-6
            .largeIcon
              i.fa.fa-bullhorn
              h5
                | 活動宣導組
                br
                small 青年各項志工服務活動策畫及服務參與
              
          .col-sm-4.col-xs-6
            .largeIcon
              i.fa.fa-headphones
              h5
                | 諮詢導覽組
                br
                small 北基金青年志工中心現場諮詢及導覽解說
          .col-sm-4.col-xs-6
            .largeIcon
              i.fa.fa-internet-explorer
              h5
                | 資訊行政組
                br
                small 網站管理及網路社群經營、資料庫建檔管理
          .col-sm-4.col-xs-6
            .largeIcon
              i.fa.fa-pencil-square-o
              h5
                | 美編設計組
                br
                small 活動宣傳美編設計及佈置美化
